<h2>Giriş Yap</h2>

<form method="post">
    <input name="username" placeholder="Kullanıcı adı" class="form-control" />
    <br />
    <input name="password" type="password" placeholder="Şifre" class="form-control" />
    <br />
    <button class="btn btn-success">Giriş</button>
</form>

<p style="color:red">@ViewBag.Error</p>
