<h2>✅ Siparişiniz Alındı</h2>

<p>
    Ödemeniz başarıyla alındı.
    Siparişiniz kısa süre içinde işleme alınacaktır.
</p>

<a asp-controller="Products" asp-action="Index" class="btn btn-primary">
    Alışverişe Devam Et
</a>
